-# 全ての商品一覧から表示している
-# 各機能実装時に表示内容を変更する
.pickupContainer
  %h2.productHead
    ピックアップカテゴリー
  %h2.productHead__new-item
    = link_to '新規投稿商品', '#', class: "new-item-link"
  .productLists
    - @new_items.zip(@new_images) do |item,image|
      .productList
        =link_to '', '#',class: "item-card-link"
        .productList-img
          %img.new-item{src: "#{image.image}"}/
        .productList-body
          %h2.item-title
            =item.name
          .productList-body__detail
            %ul
              %li.item
                ="#{item.price}円"
              %li.item (税込)
            .productList-body__like
              %p 0
              %p.like-star ★

.pickupContainer
  %h2.productHead
    ピックアップブランド
  %h2.productHead__new-item
    = link_to 'アーカイバ', '#', class: "new-item-link"
  .productLists
    - @new_items.zip(@new_images) do |item,image|
      .productList
        =link_to '', '#',class: "item-card-link"
        .productList-img
          %img.new-item{src: "#{image.image}"}/
        .productList-body
          %h2.item-title
            =item.name
          .productList-body__detail
            %ul
              %li.item
                ="#{item.price}円"
              %li.item (税込)
            .productList-body__like
              %p 0
              %p.like-star ★
