<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"ニックネーム" %> <em>( 6 文字以上)</em><br />
    <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %>
    <em>( 6 文字以上)</em>
    <br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード（再入力）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"お名前（全角）" %> <br />
    <%= f.text_field :famiry_name, autofocus: true, placeholder: "馬場" %>
    <%= f.text_field :first_name, autofocus: true, placeholder: "健司" %>
  </div>

  <div class="field">
    <%= f.label :"お名前カナ（全角）" %> <br />
    <%= f.text_field :famiry_name_kana, autofocus: true, placeholder: "バンバ" %>
    <%= f.text_field :first_name_kana, autofocus: true, placeholder: "ケンジ" %>
  </div>

  <div class="field">
    <%= f.label :"生年月日" %> <br />
    <%= f.date_select(:birthday, { use_month_numbers: true }) %>
  </div>
  <div class="field">
    <%= f.label :"郵便番号" %> <br />
    <%= f.text_field :postal_code, autofocus: true, placeholder: "バンバ" %>
  </div>
  <div class="field">
    <%= f.label :"都道府県" %> <br />
    <%= f.text_field :adress_prefecture, autofocus: true, placeholder: "バンバ" %>
  </div>
  <div class="field">
    <%= f.label :"市町村" %> <br />
    <%= f.text_field :adress_town, autofocus: true, placeholder: "バンバ" %>
  </div>
  <div class="field">
    <%= f.label :"番地" %> <br />
    <%= f.text_field :adress_number, autofocus: true, placeholder: "バンバ" %>
  </div>
  <div class="field">
    <%= f.label :"建物名" %> <br />
    <%= f.text_field :adress_name, autofocus: true, placeholder: "バンバ" %>
  </div>
  

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
