-if !user_signed_in? 
  = render partial:"items/header1" 
-else
  = render partial:"items/header2"
.pan
  - breadcrumb :mypage
  = breadcrumbs pretext: "現在のページ：",separator: " &rsaquo; "
.container
  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li.side_li
          =link_to "トップページ","/",class: "side_a"
        %li.side_li
          =link_to "クレジット登録","/card/new",class: "side_a"
        %li.side_li
          =link_to "購入","#",class: "side_a"
        %li.side_li
          =link_to "出品","#",class: "side_a"
        %li.side_li
          =link_to "いいね一覧","#",class: "side_a"
        %li.side_li
          =link_to "ユーザー編集","#",class: "side_a"
  .l-content
    %section.mypage-user-icon
      .usericon
        %figure
          =image_tag("/usericon.png",class:"icon_img")
        %h2.bold
          = current_user.nickname
        .mypage-number
          .hyouka
            評価
            %span.bold
            0  
          .show_items
            出品数
            %span.bold
            0
    .mypage-tab-container-notification-todo
      .likes_main_title
        %h1.like
          いいね!一覧
      .likes_main_box
        - @like_items.each do |item|
          .likes_main_box_show
            .likes_main_box_show_img
              = image_tag like_item_image(item).image.url , class: :img_show

            .likes_main_box_show_body
              .likes_main_box_show_body_name
                =item.name
              .likes_main_box_show_body_price
                =item.price
            .like_icon
              =link_to item_path(item.id) do
                %i.fas.fa-angle-right
    .mypage-tab-container
      %h2.mypage-tab-head
        購入した商品
      %ul.mypage-tabs
        %li.active
          %h3.tab
            %a.torihiki
              取引中
        %li.notactive
          %h3.tab
            %a.kako
              過去の取引
      .tab-content
= render partial:"items/appBanner"
= render partial:"items/footer"
=link_to "/items/new",class:"purchase" do
  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    = image_tag("/icon_camera.png",class:"purchaseBtn__icon")