-if !user_signed_in? 
  = render partial:"items/header1" 
-else
  = render partial:"items/header2"
.pan
  - breadcrumb :mypage
  = breadcrumbs pretext: "現在のページ：",separator: " &rsaquo; "
.container
  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li.side_li
          =link_to "トップページ","/",class: "side_a"
        %li.side_li
          =link_to "クレジット登録","/card/new",class: "side_a"
        %li.side_li
          %p.side_b.buyed-btn 購入済み
        %li.side_li
          %p.side_b.selled-btn 出品済み
        %li.side_li
          %p.side_b.like-btn いいね一覧
  .l-content
    %section.mypage-user-icon
      .usericon
        %figure
          =image_tag("/usericon.png",class:"icon_img")
        %h2.bold
          = current_user.nickname
        .mypage-number
          .hyouka
            評価
            %span.bold
            0  
          .show_items
            出品数
            %span.bold
            0
    .mypage-tab-container-notification-todo
      .mypage-contents-main.like-main.open
        .mypage-contents-title
          %h1.like
            いいね!一覧
        .mypage-contents-box
          - @like_items.each do |item|
            .mypage-contents-box-show
              .mypage-contents-box-show-image
                = image_tag like_item_image(item).image.url , class: :img_show
              .mypage-contents-box-body
                .mypage-contents-box-body-name
                  =item.name
                .mypage-contents-box-body-price
                  =number_to_currency(item.price)
              .mypage-contents-box-icon
                =link_to item_path(item.id) do
                  %i.fas.fa-angle-right

      .mypage-contents-main.buyed-main
        .mypage-contents-title
          %h1.like
            購入済み一覧
        .mypage-contents-box
          - @buyed_items.each do |item|
            .mypage-contents-box-show
              .mypage-contents-box-show-image
                = image_tag buyed_item_image(item).image.url , class: :img_show
              .mypage-contents-box-body
                .mypage-contents-box-body-name
                  =item.name
                .mypage-contents-box-body-price
                  =number_to_currency(item.price)
              .mypage-contents-box-icon
                =link_to item_path(item.id) do
                  %i.fas.fa-angle-right

      .mypage-contents-main.selled-main
        .mypage-contents-title
          %h1.like
            出品済み一覧
        .mypage-contents-box
          - @selled_items.each do |item|
            .mypage-contents-box-show
              .mypage-contents-box-show-image
                = image_tag buyed_item_image(item).image.url , class: :img_show
              .mypage-contents-box-body
                .mypage-contents-box-body-name
                  =item.name
                .mypage-contents-box-body-price
                  =number_to_currency(item.price)
              .mypage-contents-box-icon
                =link_to item_path(item.id) do
                  %i.fas.fa-angle-right


= render partial:"items/appBanner"
= render partial:"items/footer"
=link_to "/items/new",class:"purchase" do
  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    = image_tag("/icon_camera.png",class:"purchaseBtn__icon")