-if !user_signed_in? 
  = render partial:"header1" 
-else
  = render partial:"header2"
.main
  = render partial: "mainvisual"
  = render partial: "topintroduction"
  = render partial: "topmiddledl"
  = render partial: "mainvisual-bottom"
= render partial:"footer"


