-if !user_signed_in? 
  = render partial:"header1" 
-else
  = render partial:"header2"
.main
  = render partial: "mainvisual"
  = render partial: "session-modal1"
  = render partial: "topintroduction"
  = render partial: "topmiddledl"
  = render partial: "topKeyFeatures"
  = render partial: "pickupContainer"
= render partial:"appBanner"
= render partial:"footer"

=link_to "/items/new", class:"purchase" do
  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    =image_tag "/icon_camera.png", class:"purchaseBtn__icon"
