
 <%= render partial:"header"%>
<div class="main">
  <%= render partial: "mainvisual" %>
  <%= render partial: "mainvisual-bottom" %>
  <%= render partial: "topintroduction"%>
  <%# <%= render partial: "topmiddledl"%>
  <%# <%= render partial: "topkeyfeatures"%>
  <%# <%= render partial: "pickupcontainer"%>
  <%# <%= render partial: "pickupcontainer-brand" %>
</div>
<%= render partial:"footer"%>

