= render partial:"header"
.main
  = render partial: "mainvisual"
  = render partial: "topintroduction"
  = render partial: "mainvisual-bottom"
= render partial:"appBanner"
= render partial:"footer"


