/ ヘッダー
- if user_signed_in?
  = render partial: "header2"
- else
  = render partial: "header1"
.item--show
  .item--show--main
    .item--show--main--title
      = @item.name
    .item--show--main--contents
      .item--show--main--contents__high
        = render partial: "aaaa"
      .item--show--main--content--price
        %h2.item-price
          = number_to_currency(@item.price)
        .price-detail-box
          %span#item-tax (税込)
          %span#shipping_fee= shipping_fee
      .item-name-box
        = @item.name
      .item--show--main--contents__low
        %table.item-show-table
          %tr
            %th.item-show-td 出品者
            %td= link_to @seller_user.nickname , user_path(@seller_user)
          %tr
            %th.item-show-td カテゴリー
            %td
          %tr
            %th.item-show-td ブランド
            %td
          %tr
            %th.item-show-td 商品のサイズ
            %td= @item.size
          %tr
            %th.item-show-td 商品の状態
            %td= condition
          %tr
            %th.item-show-td 送料の負担
            %td= shipping_fee
          %tr
            %th.item-show-td 配送方法
            %td= shipping_company
          %tr
            %th.item-show-td 発送元地域
            %td= @item.shipping_region
          %tr
            %th.item-show-td 発送日の目安
            %td= shipping_days
      .other-content
        .other-content__like ★ お気に入り 0
        .other-content__inappropriate-repot ■不適切な商品の通報

  - if user_signed_in?
    - if @item.seller_user_id == current_user.id
      = render partial: "edit-btm"
      = render partial: "comment-form"
    - else
      = render partial: "show-buybtm"
      = render partial: "comment-form"