%body
  %header.session--header
    %img#session--header--icon{:src => "/logo.png"}/
  .session--main
    .next-btn-area  
      %p#next-form-btn 次へ
    .next-field
      %p.form-title 商品発送先の登録
      .field
        = f.label :"郵便番号"
        %span.must 必須
        %br/
        = f.text_field :postal_code, autofocus: true,placeholder: "ハイフンなし" ,class:"text-field"
      .field
        = f.label :"都道府県"
        %span.must 必須
        %br/
        = f.text_field :adress_prefecture, autofocus:true, placeholder: "バンバ" ,class:"text-field"
      .field
        = f.label :"市町村"
        %span.must 必須
        %br/
        = f.text_field :adress_town, autofocus: true,placeholder: "バンバ" ,class:"text-field"
      .field
        = f.label :"番地"
        %span.must 必須
        %br/
        = f.text_field :adress_number, autofocus: true,placeholder: "バンバ" ,class:"text-field"
      .field
        = f.label :"建物名"
        %br/
        = f.text_field :adress_name, autofocus: true,placeholder: "バンバ" ,class:"text-field"
      .back-btn-area  
        %p#back-form-btn 戻る