%body
  %header.session--header
    %img#session--header--icon{:src => "/logo.png"}/
  .session--main
    .next-field
      %p.form-title 商品発送先の登録
      = form_for @adress do |f|
        .field
          = f.label :"郵便番号"
          %span.must 必須
          %br/
          = f.text_field :postal_code, autofocus: true,placeholder: "ハイフンなし" ,class:"text-field"
        .field
          = f.label :"都道府県"
          %span.must 必須
          %br/
          = f.text_field :prefecture, autofocus:true, placeholder: "フリマ" ,class:"text-field"
        .field
          = f.label :"市町村"
          %span.must 必須
          %br/
          = f.text_field :town, autofocus: true,placeholder: "フリマ" ,class:"text-field"
        .field
          = f.label :"番地"
          %span.must 必須
          %br/
          = f.text_field :number, autofocus: true,placeholder: "フリマ" ,class:"text-field"
        .field
          = f.label :"建物名"
          %br/
          = f.text_field :name, autofocus: true,placeholder: "フリマ" ,class:"text-field"
        .actions
          = f.submit "登録" , class:"submit--btn"