= render partial:"items/header1" 
.category_lappar
  .breadCrumbs
    .breadCrumbs.ul
      .li FURIMA
      .li.fa.fa-angle-right
        >
      .li カテゴリー一覧

.category_lappar2
  .category-index.l-single-container
    .visible-sp
      .search-category
        .gray.clearfix
          カテゴリー一覧
        .category-list-nav.slide-nav-parent.text-center.clearfix
          - @parents.each do |parent|
            = link_to "#{parent.name}", class: "category-list-a" 
.titleBox.titleBox--index
  .catTitle{:href => "/categories/1", :id => "レディース"} レディース
  .subtitle トップス
  .catContents
    .catItems
      - @tops.each do |top|
        = link_to "#{top.name}", class: "category-list-b" 
.titleBox.titleBox--index
  .catTitleb
  .subtitle ジャケット/アウター
  .catContents
    .catItems
      - @jakets.each do |jaket|
        = link_to "#{jaket.name}", class: "category-list-b" 
.titleBox.titleBox--index
  .catTitleb
  .subtitle パンツ
  .catContents
    .catItems
      - @pants.each do |pant|
        = link_to "#{pant.name}", class: "category-list-b" 
.titleBox.titleBox--index
  .catTitleb
  .subtitle スカート
  .catContents
    .catItems
      - @skirts.each do |skirt|
        = link_to "#{skirt.name}", class: "category-list-b" 
.titleBox.titleBox--index
  .catTitleb
  .subtitle ワンピース
  .catContents
    .catItems
      - @onepieces.each do |onepiece|
        = link_to "#{onepiece.name}", class: "category-list-b"   
.titleBox.titleBox--index
  .catTitleb
  .subtitle 靴
  .catContents
    .catItems
      - @shoes.each do |shoe|
        = link_to "#{shoe.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle ルームウェア/パジャマ
  .catContents
    .catItems
      - @roomwers.each do |roomwer|
        = link_to "#{roomwer.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle レッグウェア
  .catContents
    .catItems
      - @regwers.each do |regwer|
        = link_to "#{regwer.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle レッグウェア
  .catContents
    .catItems
      - @regwers.each do |regwer|
        = link_to "#{regwer.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle 帽子
  .catContents
    .catItems
      - @list1s.each do |list1|
        = link_to "#{list1.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle バッグ
  .catContents
    .catItems
      - @list2s.each do |list2|
        = link_to "#{list2.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle アクセサリー
  .catContents
    .catItems
      - @list3s.each do |list3|
        = link_to "#{list3.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle ヘアアクセサリー
  .catContents
    .catItems
      - @list4s.each do |list4|
        = link_to "#{list4.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle 小物
  .catContents
    .catItems
      - @list5s.each do |list5|
        = link_to "#{list5.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle 時計
  .catContents
    .catItems
      - @list6s.each do |list6|
        = link_to "#{list6.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle ウィッグ/エクステ
  .catContents
    .catItems
      - @list7s.each do |list7|
        = link_to "#{list7.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle 浴衣
  .catContents
    .catItems
      - @list8s.each do |list8|
        = link_to "#{list8.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle スーツ/フォーマル/ドレス
  .catContents
    .catItems
      - @list9s.each do |list9|
        = link_to "#{list9.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle マタニティ
  .catContents
    .catItems
      - @list10s.each do |list10|
        = link_to "#{list10.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb
  .subtitle その他
  .catContents
    .catItems
      - @list10s.each do |list10|
        = link_to "#{list10.name}", class: "category-list-b"

.titleBox.titleBox--index
  .catTitle メンズ
  .subtitle トップス
  .catContents
    .catItems
      - @list12s.each do |list12|
        = link_to "#{list12.name}", class: "category-list-b" 
.titleBox.titleBox--index
  .catTitleb 
  .subtitle ジャケット/アウター
  .catContents
    .catItems
      - @list13s.each do |list13|
        = link_to "#{list13.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle パンツ
  .catContents
    .catItems
      - @list14s.each do |list14|
        = link_to "#{list14.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle 靴
  .catContents
    .catItems
      - @list15s.each do |list15|
        = link_to "#{list15.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle バッグ
  .catContents
    .catItems
      - @list16s.each do |list16|
        = link_to "#{list16.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle スーツ
  .catContents
    .catItems
      - @list17s.each do |list17|
        = link_to "#{list17.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle 帽子
  .catContents
    .catItems
      - @list18s.each do |list18|
        = link_to "#{list18.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle アクセサリー
  .catContents
    .catItems
      - @list19s.each do |list19|
        = link_to "#{list19.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle 小物
  .catContents
    .catItems
      - @list20s.each do |list20|
        = link_to "#{list20.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle 時計
  .catContents
    .catItems
      - @list21s.each do |list21|
        = link_to "#{list21.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle 水着
  .catContents
    .catItems
      - @list22s.each do |list22|
        = link_to "#{list22.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle レッグウェア
  .catContents
    .catItems
      - @list23s.each do |list23|
        = link_to "#{list23.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle アンダーウェア
  .catContents
    .catItems
      - @list24s.each do |list24|
        = link_to "#{list24.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitleb 
  .subtitle その他
  .catContents
    .catItems
      - @list25s.each do |list25|
        = link_to "#{list25.name}", class: "category-list-b"
.titleBox.titleBox--index
  .catTitle メンズ
  .subtitle トップス
  .catContents
    .catItems
      - @list12s.each do |list12|
        = link_to "#{list12.name}", class: "category-list-b" 

= render partial:"items/appBanner"
= render partial:"items/footer"

