-if !user_signed_in? 
  = render partial:"header1" 
-else
  = render partial:"items/header2"
  .category_lappar
    .breadCrumbs
      .breadCrumbs.ul
        .li FURIMA
        .li.fa.fa-angle-right
          
        .li カテゴリー一覧
        .test{:onclick => "scrollToTop()"}
  .category_lappar2
    .category-index.l-single-container
      .visible-sp
        .search-category
          .gray.clearfix
            カテゴリー一覧
          .category-list.btn{:onclick => "scrollTo(target)"}
            - @parents.each do |parent| 
              = link_to "#{parent.name}","#",class: "test-d"
          .category-list-nav.slide-nav-parent.text-center.clearfix
            - @parents_first.each do |parent| 
              = link_to "#{parent.name}","#",:id => "#{parent.name}",class: "test-b"
              - category_aaa(parent).each do |v|
                = link_to "#{v.name}", "#", class: "test-c"
                - category_bbb(parent).each do |v2|
                  = link_to "#{v2.name}", "#", class: "test-d2122"
          .test-222
            #target 移動したい位置