= render partial:"items/header1" 
.category_lappar
  .breadCrumbs
    .breadCrumbs.ul
      .li FURIMA
      .li.fa.fa-angle-right
        >
      .li カテゴリー一覧

.category_lappar2
  .category-index.l-single-container
    .visible-sp
      .search-category
        .gray.clearfix
          カテゴリー一覧
        .category-list-nav.slide-nav-parent.text-center.clearfix
          - @parents_first.each do |parent| 
            = link_to "#{parent.name}", "#",class: "test-b"
            - category_aaa(parent).each do |v|
              = link_to "#{v.name}", "#", class: "test-c"
              - category_bbb(parent).each do |v|
                = link_to "#{v.name}", "#", class: "test-d"
